html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

body{
	font-family: Asap, Arial, sans-serif;
	background-color: #FFF;
	color: black;
	margin: 0px;
}

a.divlink {
	left: 0px;
	top: 0px;
	width: 300px;
	height: 250px;
	position: absolute;
	cursor: pointer;
}

.adSize{
	width: 300px;
	height: 250px;
}

#banner {
	position: absolute;
	background: white;
	overflow: hidden; 
	opacity: 0;
	cursor: pointer;
	
	border: solid 1px black;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#dude{
	background: no-repeat url("../images/dude.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#icon{
	background: no-repeat url("../images/icon.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#mountains{
	background: no-repeat url("../images/mountains.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#rocks{
	background: no-repeat url("../images/rocks.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}


#clouds{
	background: no-repeat url("../images/clouds.jpg");
	position:absolute;
	width: 463px;
	height: 194px;
	left: -70px;
	top: -10px;
	background-size: contain;
}

#text1{
	background: no-repeat url("../images/text1.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 30px;
	background-size: contain;
}

#text2{
	background: no-repeat url("../images/text2.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 10px;
	background-size: contain;
}

#text3{
	background: no-repeat url("../images/text3.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 20px;
	background-size: contain;
}

#text4{
	background: no-repeat url("../images/text4.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text5{
	background: no-repeat url("../images/text5.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text6{
	background: no-repeat url("../images/text6.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}


#logo{
	background: no-repeat url("../images/logo.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#cta_outline{
	background: no-repeat url("../images/cta_outline.png");
	background-size: contain;
	position:absolute;
	width: 117px;
	height: 23px;
	left: 0px; 
	top: 0px;
}

#cta{
	background: no-repeat url("../images/cta.png");
	background-size: contain;
	position:absolute;
	width: 117px;
	height: 23px;
	left: 0px; 
	top: 0px;
}

#ctaCon{
	position: absolute;
	width: 117px;
	height: 23px;
	left: 17.4px;
	top: 203px;
	/*overflow: hidden;*/
	/*border-radius: 3px;*/
}

.verticalAlignCenter{
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}

/* basic css setup for elements ⬇︎ */

/*#{
	background: no-repeat url("../images/.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}*/